<html>

<body>
<!--<div>-->
    <!--<form method="post">-->
        <!--<input type="text" name="name" placeholder="Input Username:"/>-->
        <!--<button type="submit">Add</button>-->
    <!--</form>-->
<!--</div>-->
<div><h1>Files list:</h1></div>

{{#files}}
<div>
    <b>{{id}}</b>
    <span>{{path}}</span>
</div>
{{/files}}

</body>
</html>